@import '../css/utilities/utilities.css';


label{
    display:block;
}

.underline{
    width:30%;
    margin:40px 0;
}

h2{
    font-size:var(--titleSize);
}

.amount .grid-item{
    background-color:#f4f4f4;
    padding:15px 0;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    border:1px solid #cacaca;
}

#selected{
    background-color:var(--primaryBlueHover);
    border:none;
    color:#fff;
}

.identify{
    flex:1;
}

.flex-amount{
    gap:100px;
}

.subtitle{
    font-size:22px;
    margin-bottom:30px;
}

.amount .grid{
    grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
    column-gap:20px;
    row-gap:32px;
}

.amount .flex{
    align-items: flex-start;
    justify-content: flex-start;
}

.amount__donation{
    flex:1;
}

.identity .flex{
    justify-content: flex-start;
}

.identity__item{
    padding:15px 70px;
    border:1px solid #cacaca;
    border-radius:10px;
    background-color:#f4f4f4;
    cursor:pointer;
}

.data__input{
    width:100%;
    padding:15px;
    margin-top:20px;
    outline:none;
}

.data__element{
    margin-bottom:30px;
    width:50%;
}

.data__input[type="submit"]{
    width:auto;
    padding:20px 70px;
    background-color:var(--primaryBlue);
    transition:background-color .2s;
    border:none;
    color:#fff;
    font-weight: 700;
    border-radius:10px;
}

.data__name, .data__email{
    flex:1;
}

.data .flex{
    justify-content: flex-start;
}

.data__input[type="submit"]:hover{
    background-color: var(--primaryBlueHover);
}

@media screen and (max-width:925px){
    .data__element{
        width:100%;
    }

    .amount .grid{
        grid-template-columns:repeat(auto-fill, minmax(250px,1fr));
    }

    .data__element:last-child{
        text-align:center;
    }
}