@import '../css/utilities/utilities.css';


label{
    display:block;
}

.donate__decoration{
    flex:2;
}

.donate .flex{
    align-items:flex-start;
}

.donate button{
    flex:1;
}

.donate__controls .flex{
    gap:10px;
}

.donate__amount{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:10px;
    row-gap:25px;
}

.donate .btn{
    padding:15px 0;
}

.donate__input{
    padding:15px;
    border:none;
    border:3px solid #cacaca;
    outline:none;
    min-width:0;
}

.donate__input::placeholder{
    font-size:16px;
}

.donate__input:focus{
    border:3px solid #aaa;
}

input[type="submit"]{
    background-color:#FF9900;
    color:#fff;
    grid-column:2/3;
}

.donate__controls h3{
    line-height:2.8;
    font-weight:500;
}

.donate__text h2{
    margin-top:25px;    
}

.donate__title{
    display:inline-block;
    line-height:0;
    margin-bottom:15px;
    vertical-align:middle;
}

.donate__title img{
    width:56px;
    margin-right:15px;
}

@media screen and (max-width:849px){
    .donate__decoration, .donate__controls{
        flex-basis:100%;
    }
}