@import '../css/utilities/utilities.css';


p{
    line-height:1.7;
    margin:15px 0;
}

figcaption{
    font-style: italic;
}

.new__image{
    float:left;
    margin:0 25px 25px 0;
}

.new__image img{
    max-width:700px;
}

.new__title{
    line-height: 1.2;
}

.new__crossimage{
    height:400px;
}

.first-paragraph{
    font-size:18px;
    color:#8b8b8b;
    margin:20px 0;
}