/*******************INDEX******************

1. Pre styles.
2. Utilities (Classes that we reuse).
3. Navbar styling.
4. Carousel styling.
5. Two column section styling.
6. Three column section styling. 
7. Fixed background.
8. News carousel.
9. Footer.
10. Media queries (RWD).

*/


/****************Pre styling***************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --primaryBlue: #0BBED1;
    --transparentWhite: rgba(255, 255, 255, .96);
    --fontColor: #333;
    --titleSize: 2.5rem;
    --textSize: 1.2rem;
    --textSize-2: .9rem;
    --titleSize-2: 1.3rem;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

ul {
    list-style: none;
}

h1,
h3,
p {
    margin: 10px 0;
}


/********************Utilities**********************/

.container {
    position: relative;
    max-width: 1406px;
    padding: 0 20px;
    margin: auto;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:60px;
}

.flex-item {
    flex: 1;
    min-width: 330px;   
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.white {
    color: #fff;
}

.nav .flex {
    justify-content: space-between;
}

.btn {
    padding: 15px 75px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color ease-in-out .3s;
}

.btn-outline-white {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.btn-primary {
    background-color: var(--primaryBlue);
    color: #fff;
    margin-top: 30px;
}

.btn-primary:hover {
    background-color: #0bafc2;
}

.btn-outline-white:hover {
    background-color: #fff;
    color: var(--fontColor);
}

.padding {
    padding: 100px 0;
}

.p-1 {
    padding-top: 20px;
}

.my-4 {
    width: 220px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 20px;
    border: 2.5px solid #0BCADE;
}

.margin {
    margin-top: 100px;
}

.center {
    text-align: center;
}

.title {
    font-size: var(--titleSize);
    line-height: 1;
}

.title-2 {
    font-size: var(--titleSize-2);
}

.text-1 {
    font-size: var(--textSize);
    font-weight: 400;
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.text-shadow {
    
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*******************Body syling***********************/

body {
    font-family: 'Poppins', sans-serif;
    color: var(--fontColor);
}


/**********************Navbar************************/

.nav {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 80px;
    background-color: var(--transparentWhite);
    box-shadow: 2px 2px 3px #666;
}

.nav__logo-img {
    vertical-align: middle;
    width: 140px;
}

.nav__menu {
    display: flex;
}

.nav__link,
.nav__button {
    padding: 12px 40px;
}

.nav__button {
    background-color: #FF9900;
    border-radius: 4px;
    margin-left: 35px;
    transition: background-color .3s;
}

.nav__button:hover {
    background-color: #e98c01;
}

.nav__link{
    position:relative;
}

.nav__link:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom:0;
    left: 0;
    background: var(--primaryBlue);
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
}

.nav__link:hover:after{
    visibility: visible;
    transform: scaleX(1);
} 

/*********************Carousel**********************/

.carousel {
    position: relative;
    height: 500px;
    
}

.carousel__control--left {
    left: 0;
}

.carousel__control--right {
    right: 0;
}

.carousel__slide .visible {
    opacity: 1;
}

.control {
    padding: 5px;
    cursor: pointer;
    background-color: rgba(185, 185, 185, .35);
    border-radius: 5px;
    z-index: 4;
}

.control img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__slide {
    width: 100%;
    height: 100%;
}

.carousel__slide li {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#carousel__item-img-middle {
    object-position: center;
}

.carousel__caption {
    width: 100%;
    z-index: 3;
}

.carousel__indicators {
    position: relative;
    z-index: 4;
    text-align: center;
    margin: -40px auto;
}

.carousel__indicator {
    padding: 5px;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    border: .5px solid #fff;
    cursor: pointer;
    box-shadow: 1px 1px 2px #000;
}

.carousel__title {
    font-weight: 700;
    font-size: 2.5rem;
    text-shadow: 3px 3px 8px #000;
}

.carousel__container-inner {
    width: 50%;
}

.carousel__container-inner .btn {
    margin-top: 30px;
}

.carousel__caption .container {
    padding: 0 100px;
    max-width: 1560px;
}

.active {
    background-color: #fff;
    padding: 7px;
    box-shadow: 1px 1px 4px #000;
}


/****************Two columns welcome section***************/

.welcome .flex {
    flex-wrap: wrap-reverse;
}
.welcome__image img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.welcome__image{
    height:500px;
}

/*****************Three column section cards******************/

.disocveries {
    background-color: #efefef;
    padding-bottom: 100px;
}

.card {
    background-color: #fff;
    border: 1px solid #888;
}

.card__text {
    font-size: 14px;
}

.card__body {
    height: 260px;
}

.card__footer {
    padding: 0 25px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav__hamburger {
    display: none;
    cursor: pointer;
    height: 40px;
}

.nav__hamburger:hover {
    transform: scale(1.1);
}

.nav__hamburger img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/****************Fixed background*****************/

.fixed-background {
    height: 265px;
    position: relative;
}

.content {
    width: 100%;
    text-align: center;
}

.mask {
    background-color: rgba(220, 220, 220, .85);
    width: 100%;
    height: 100%;
}

/******************News carousel********************/

.news .carousel{
    height:600px;
}

.carousel__image{
    height:100%;
}

.background {
    background-image: url(../img/micro.jpg);
    background-attachment: fixed;
    height: 100%;
    height: 100%;
    object-fit: cover;
}


/********************Footer************************/

.footer{
    
    background-color:#043439;
    color:#fff;
    padding-top:70px;

}

.footer .grid{
    grid-column-gap:150px;
    grid-row-gap:0;
    grid-template-rows: 1fr 75px;
}

.grid-item{
padding-bottom:35px;
}

.subfooter{
    background-color:#043439;
    border-top:1px solid #fafafa;
    grid-column:1/4;
}

.footer__logo{
    width:150px;
    margin:10px 0;
}

.footer__border{
    border-bottom:2px solid #fafafa;
}

@media screen and (max-width:1070px) {
    .title{
        font-size:2rem;
    }
    .text-1 {
        font-size: 1rem;
    }
    .footer .grid{
        grid-column-gap:40px;
    }
    .flex{
        gap:40px;
    }
}

@media screen and (max-width:834px){
   /* .welcome__image img{
        width:auto;
        height:auto;
        object-fit:fill;
    }*/
    .footer .grid {
        grid-template-rows:1fr 1fr 1fr 100px;
        grid-template-columns:1fr;
    }

    .subfooter{
        grid-column:1/1;
    }

    .grid {
        grid-template-columns: 1fr;
    }
    .card__body {
        height: 300px;
    }
    .nav .flex {
        display: block;
    }
    .nav__item {
        display: block;
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .nav {
        height: 60px;
        position: sticky;
        top: 0;
        box-shadow: 3px 0 10px #000;
    }

    .mobile-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .nav__hamburger {
        display: inline-block;
    }

    .nav__menu {
        display: block;
        background-color: var(--transparentWhite);
        width: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: -60px;
        padding-top: 120px;
        transform: translateY(-100%);
        transition: transform ease 1s;
    }
    .carousel__indicators {
        display: none;
    }
    .carousel__control--left,
    .carousel__control--right {
        display: none;
    }
    .display-menu {
        transform: translateY(0%);
    }
    .nav__button {
        margin-left: 0;
    }
    .carousel__title,
    .welcome__title {
        font-size: 1.6rem;
    }
    .carousel__text,
    .welcome__text {
        font-size: 1rem;
    }
    .btn {
        padding: 15px 25px;
    }
    .carousel__container-inner {
        text-align: center;
        width: 100%;
    }
    .carousel__slide img {
        filter: brightness(.6);
    }
}

@media screen and (max-width:550px) {
    
}