.welcome-image{
    height:500px;
    position:relative;
}
.welcome-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.welcome-image__text{
    position:absolute;
    width:100%;
    background-color:rgba(30,30,30,.6);
    color:#fff;
    bottom:0;
}

.breadcrumb{
    margin-top:25px;
}

.breadcrumb__list{
    width:200px;
    padding:10px;
    text-align:center;
}

.breadcrumb__list li{
    display:inline-block;
}

.search .flex{
    gap:10px;
    justify-content:flex-start;
}

.search__box{
    width:100%;
    padding:0 10px;
    border-radius: 12px 12px 0 0;
}

.search__input{
    flex:1;
    padding:12px;
    margin:10px;
    border-radius:12px;
    border:1px solid #0092A1;
}

.search__input:focus{
    outline:none;
    border-color:#0bd164;
}

.search__icon{
    vertical-align: middle;
    width:30px;
}


/************Table section*************/


.tests__table{
    min-width:280px;
    width:100%;
    border-radius:0 0 12px 12px;
}

.tests__table img{
    width:170px;
}

.tests__table thead tr{
    font-weight:bold;
    border-bottom:1px solid #aaa;
}

.tests__table th, .tests__table td{
    background-color:#fff;
    padding:50px 15px;
    text-align:center;
}

.tests__table th{
    padding:18px 15px;
}

.tests__title{
    color:#0092A1;
    font-size:1.2rem;
}
/***************Breadcrumb******************/

.breadcrumb{
    padding-top:20px;
}

/********Title section***********/
.title__section{
    text-align:center;
    padding-top:100px;
}

/**************Welcome section***************/

.welcome-section{
    padding-top:50px;
}



@media screen and (max-width:768px){
    .tests__table{
        background-color:transparent;
        border-collapse: separate;
        border-spacing: 0 45px;
        padding:10px;
    }

    .breadcrumb__list{
        margin:auto;
    }

    .tests__table td:last-child{
        display:none;
    }

    .tests__table th, .tests__table td{
        padding:20px 5px;
        
    }

    .tests__table thead tr{
        display:none;
    }

    .tests__table td{
        display:block;
    }
    .tests__table tr{
        border-radius:12px;
    }
}