body{
    background-color:#f0f0f0;
}

.nav{
    box-shadow:1px 1px 5px #ccc;
}

/***********Indicators***************/

.indicators .flex{
    justify-content: space-between;
}

.indicators__time{
    font-size:1.5rem;
    margin-left:100px;
    padding:15px 0;
    width:200px;
    border:1px solid #999;
    border-radius:10px;
    background-color:#fff;
    text-align:center;
}

/***********Questions section************/

.questions{
    height:1450px;
    position:relative;
    overflow:hidden;
    max-width: 1366px;
    margin:100px auto;
}


.questions .flex{
    justify-content:start;
    align-items:flex-start;
    gap:30px;
}

.bubble{
    margin-bottom:50px;
}

.bubble__number{
    background-color:#fff;
    width:70px;
    height:70px;
    border-radius:50%;
    display:flex;
    font-weight:bold;
}

.bubble__number span{
    margin:auto;
}

.bubble__body{
    background-color:#fff;
    flex:1;
    height:200px;
    border-radius:15px;
}

.bubble__body h2{
    margin-left:15px;
}

.bubble__body-element{
    margin:20px;
}

input[type="checkbox"]{
    width:20px;
    height:20px;
    vertical-align: middle;
}

label{
    vertical-align: middle;
    margin-left:10px;
}

.questions__item{
    position:absolute;
    width:100%;
}

/*********Pagination section************/

.pagination{
    height:100px;
}

.pagination__buttons{
    position:relative;
    width:250px;
    margin:auto;
}

.pagination__buttons img{
    cursor:pointer;
    width:80px;
}

.pagination__button--left{
    position:absolute;
    left:0;
}

.pagination__button--right{
    position:absolute;
    right:0;
}
